.Guita.hover{
    display: block;
    width: 10px;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.Guita img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}