.count{
    width: 300px;
    height: 90px;
    background-color: gray;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border-radius: 10%;
    box-sizing: border-box;
    border-color: black;
}
.count .signo{
    height: 40%;
    width: 10% ;
}